{% extends "base.html.twig" %}
{% block body %}
    <ul id="song_list">
        {% for song in song_list %}
            <li><a href="{{ path('song_edit', {'id':song.id|trans}) }}">{{ song.title }}</a> by <a href="{{ path('song_edit', {'id':song.id|trans}) }}">{{ song.artist }}</a></li>
        {% endfor %}
    </ul>
{% endblock %}
