{% extends "base.html.twig" %}
{% block body %}
        <br/>
        <br/>
        <br/>
        <h1>{{ song.title }}</h1>
        <h2>{{ song.artist }}</h2>
        <p class="lead">{{ song.id }}</p>
{% endblock %}
